body{
    background-color: black !important;

}
.main{
    background-image: url(img/back.png);
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3em;
    color: transparent;
    background-image: linear-gradient(to right,#f00,#ff0,#0ff,#0f0,#00f);
    -webkit-background-clip: text;
    animation: animat 15s linear infinite;
    background-size: 1000%;
}

@keyframes animat{
    0%{
        background-position: 0% ;
    }
    50%{
        background-position: 100% ;
    }
    100%{
        background-position: 0% ;
    }
}

.typewriter{
    color: white;
    font-size: 1.3em;
	/* Content is not revealed
	until the animation */
	overflow: hidden;

	/* Keeps the content on a single line */
	white-space: nowrap;

	/* Gives that scrolling effect
	as the typing happens */
	margin: 0 auto;

	/* Typing Effect Animation */
	animation: typing 6s infinite;
}

/* Typing Effect on Website Loading */
@keyframes typing {
	from {
		width: 0
	}
	to {
		width: 100%
	}
}

.title_img{
    display: flex;
    justify-content: center;
}
.data{
    width: 300px;
    margin: 10px;    
}
.caption{
    color: white;
}
.submit{
    margin: 10px;
    display: flex;
    justify-content: center;
}
label{
    color: white !important;
}